In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

sns.set_style("whitegrid")
plt.rcParams.update({'font.size': 32})
sns.set_context("poster", rc={"font.size":34,"axes.titlesize":34,"axes.labelsize":34, "lines.linewidth": 2})  
plt.rcParams['figure.figsize'] = 18, 12


from datetime import datetime
str(datetime.now())

'2018-06-29 10:48:58.860339'

In [25]:
df = pd.read_csv('../../measurements/GLNPO/Glenda oxygen.csv')

In [26]:
df.groupby(['STATION_ID']).count()

,Row,YEAR,MONTH,SEASON,LAKE,CRUISE_ID,VISIT_ID,STN_DEPTH_M,LATITUDE,LONGITUDE,...,METHOD_3,RESULT_REMARK_3,ANL_CODE_4,ANALYTE_4,VALUE_4,UNITS_4,FRACTION_4,METHOD_4,RESULT_REMARK_4,Unnamed: 47
STATION_ID,,,,,,,,,,,,,,,,,,,,,
ER09,8,8,8,8,8,8,8,8,8,8,...,0,0,0,0,0,0,0,0,0,0
ER10,6,6,6,6,6,6,6,6,6,6,...,0,0,0,0,0,0,0,0,0,0
ER15M,18,18,18,18,18,18,18,18,18,18,...,0,0,0,0,0,0,0,0,0,0
ER30,38,38,38,38,38,38,38,38,38,38,...,0,0,0,0,0,0,0,0,0,0
ER31,33,33,33,33,33,33,33,33,33,33,...,1,0,1,1,1,1,1,1,0,0
ER32,33,33,33,33,33,33,33,33,33,33,...,2,1,2,2,2,2,2,2,1,0
ER36,33,33,33,33,33,33,33,33,33,33,...,1,0,1,1,1,1,1,1,0,0
ER37,32,32,32,32,32,32,32,32,32,32,...,0,0,0,0,0,0,0,0,0,0
ER38,35,35,35,35,35,35,35,35,35,35,...,1,0,0,0,0,0,0,0,0,0
ER42,30,30,30,30,30,30,30,30,30,30,...,2,1,1,1,1,1,1,1,1,0
ER43,31,31,31,31,31,31,31,31,31,31,...,2,0,2,2,2,2,2,2,0,0
ER58,16,16,16,16,16,16,16,16,16,16,...,0,0,0,0,0,0,0,0,0,0
ER59,4,4,4,4,4,4,4,4,4,4,...,0,0,0,0,0,0,0,0,0,0
ER60,5,5,5,5,5,5,5,5,5,5,...,0,0,0,0,0,0,0,0,0,0
ER61,4,4,4,4,4,4,4,4,4,4,...,0,0,0,0,0,0,0,0,0,0
ER63,11,11,11,11,11,11,11,11,11,11,...,0,0,0,0,0,0,0,0,0,0
ER73,28,28,28,28,28,28,28,28,28,28,...,1,1,0,0,0,0,0,0,0,0
ER78M,38,38,38,38,38,38,38,38,38,38,...,1,0,0,0,0,0,0,0,0,0
ER91M,16,16,16,16,16,16,16,16,16,16,...,0,0,0,0,0,0,0,0,0,0
ER92,6,6,6,6,6,6,6,6,6,6,...,0,0,0,0,0,0,0,0,0,0
ERFE,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df[df['STATION_ID']=='ER63'].groupby(['YEAR']).count()

,Row,MONTH,SEASON,LAKE,CRUISE_ID,VISIT_ID,STATION_ID,STN_DEPTH_M,LATITUDE,LONGITUDE,...,METHOD_3,RESULT_REMARK_3,ANL_CODE_4,ANALYTE_4,VALUE_4,UNITS_4,FRACTION_4,METHOD_4,RESULT_REMARK_4,Unnamed: 47
YEAR,,,,,,,,,,,,,,,,,,,,,
1985,29,29,22,29,0,29,29,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1986,19,19,19,19,0,19,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1987,25,25,25,25,0,25,25,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1988,22,22,22,22,0,22,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1989,14,14,14,14,0,14,14,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1990,22,22,22,22,0,22,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1991,22,22,22,22,0,22,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1992,8,8,8,8,0,8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1993,8,8,8,8,0,8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1996,2,2,2,2,0,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
1997,2,2,2,2,0,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
1998,3,3,3,3,0,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
1999,1,1,1,1,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2000,4,4,4,4,4,4,4,4,4,4,...,0,0,0,0,0,0,0,0,0,0
2002,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2004,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2005,2,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2006,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2010,2,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df.columns[10:]

Index(['LONGITUDE', 'SAMPLING_DATE', 'TIME_ZONE', 'SAMPLE_DEPTH_M',
       'DEPTH_CODE', 'MEDIUM', 'SAMPLE_TYPE', 'QC_TYPE', 'SAMPLE_ID',
       'ANL_CODE_1', 'ANALYTE_1', 'VALUE_1', 'UNITS_1', 'FRACTION_1',
       'METHOD_1', 'RESULT_REMARK_1', 'ANL_CODE_2', 'ANALYTE_2', 'VALUE_2',
       'UNITS_2', 'FRACTION_2', 'METHOD_2', 'RESULT_REMARK_2', 'ANL_CODE_3',
       'ANALYTE_3', 'VALUE_3', 'UNITS_3', 'FRACTION_3', 'METHOD_3',
       'RESULT_REMARK_3', 'ANL_CODE_4', 'ANALYTE_4', 'VALUE_4', 'UNITS_4',
       'FRACTION_4', 'METHOD_4', 'RESULT_REMARK_4', 'ANL_CODE_5', 'ANALYTE_5',
       'VALUE_5', 'UNITS_5', 'FRACTION_5', 'METHOD_5', 'RESULT_REMARK_5',
       'ANL_CODE_6', 'ANALYTE_6', 'VALUE_6', 'UNITS_6', 'FRACTION_6',
       'METHOD_6', 'RESULT_REMARK_6', 'ANL_CODE_7', 'ANALYTE_7', 'VALUE_7',
       'UNITS_7', 'FRACTION_7', 'METHOD_7', 'RESULT_REMARK_7', 'ANL_CODE_8',
       'ANALYTE_8', 'VALUE_8', 'UNITS_8', 'FRACTION_8', 'METHOD_8',
       'RESULT_REMARK_8', 'ANL_CODE_9', 'ANALYTE_9', 'VALUE_9', 'UNITS_9',
       'FRACTION_9', 'METHOD_9', 'RESULT_REMARK_9', 'ANL_CODE_10',
       'ANALYTE_10', 'VALUE_10', 'UNITS_10', 'FRACTION_10', 'METHOD_10',
       'RESULT_REMARK_10', 'ANL_CODE_11', 'ANALYTE_11', 'VALUE_11', 'UNITS_11',
       'FRACTION_11', 'METHOD_11', 'RESULT_REMARK_11', 'ANL_CODE_12',
       'ANALYTE_12', 'VALUE_12', 'UNITS_12', 'FRACTION_12', 'METHOD_12',
       'RESULT_REMARK_12', 'Unnamed: 103'],
      dtype='object')

In [6]:
df[df['STATION_ID']=='ER15M'].groupby(['YEAR', 'MONTH', 'SAMPLE_DEPTH_M']).count()

                               Row  SEASON  LAKE  CRUISE_ID  VISIT_ID  \
YEAR MONTH     SAMPLE_DEPTH_M
1983 April     4.270             2       2     2          0         2
               18.900            1       1     1          0         1
               19.200            1       1     1          0         1
               39.930            1       1     1          0         1
               48.770            1       1     1          0         1
               56.390            1       1     1          0         1
               57.610            1       1     1          0         1
     August    0.910             3       3     3          0         3
               4.570             2       2     2          0         2
               4.880             1       1     1          0         1
               10.060            3       3     3          0         3
               17.370            1       1     1          0         1
               20.120            1       1     1          0         1
               22.250            1       1     1          0         1
               29.260            1       1     1          0         1
               29.870            1       1     1          0         1
               39.620            1       1     1          0         1
               39.930            1       1     1          0         1
               40.230            1       1     1          0         1
               49.680            1       1     1          0         1
               51.210            1       1     1          0         1
               57.000            1       1     1          0         1
               58.220            2       2     2          0         2
     May       0.910             1       1     1          0         1
               4.880             1       1     1          0         1
               9.750             1       1     1          0         1
               20.120            1       1     1          0         1
               29.870            1       1     1          0         1
               39.620            1       1     1          0         1
               48.460            1       1     1          0         1
...                            ...     ...   ...        ...       ...
1993 April     19.810            1       1     1          0         1
               20.120            1       1     1          0         1
               29.870            2       2     2          0         2
               40.230            2       2     2          0         2
               51.210            2       2     2          0         2
               60.350            2       2     2          0         2
1996 August    0.893             1       1     1          0         1
               61.559            1       1     1          0         1
1997 April     61.000            2       2     2          0         2
1998 April     1.500             1       1     1          0         1
               29.900            1       1     1          0         1
               60.300            1       1     1          0         1
1999 August    2.600             1       1     1          0         1
               60.700            1       1     1          0         1
2000 April     60.000            1       1     1          1         1
     August    1.048             2       2     2          2         2
               60.095            2       2     2          2         2
2001 April     60.300            1       1     1          1         1
     August    57.600            1       1     1          1         1
2002 April     58.000            1       1     1          1         1
     August    1.000             1       1     1          1         1
2003 April     60.800            1       1     1          1         1
               61.000            1       1     1          1         1
     August    1.000             1       1     1          1         1
2004 August    2.000             1       1     1          1         1
2005 April     58.100            1       1     1          1         1
     August    3.000             1       1     1          1         1
2007 August    52.000            1       1     1          1         1
2012 April     61.700            1       1     1          1         1
     August    52.200            1       1     1          1         1

                               STATION_ID  STN_DEPTH_M  LATITUDE  LONGITUDE  \
YEAR MONTH     SAMPLE_DEPTH_M
1983 April     4.270                    2            0         0          0
               18.900                   1            0         0          0
               19.200                   1            0         0          0
               39.930                   1            0         0          0
               48.770                   1            0         0          0
               56.390                   1            0         0          0
               57.610                   1            0         0          0
     August    0.910                    3            0         0          0
               4.570                    2            0         0          0
               4.880                    1            0         0          0
               10.060                   3            0         0          0
               17.370                   1            0         0          0
               20.120                   1            0         0          0
               22.250                   1            0         0          0
               29.260                   1            0         0          0
               29.870                   1            0         0          0
               39.620                   1            0         0          0
               39.930                   1            0         0          0
               40.230                   1            0         0          0
               49.680                   1            0         0          0
               51.210                   1            0         0          0
               57.000                   1            0         0          0
               58.220                   2            0         0          0
     May       0.910                    1            0         0          0
               4.880                    1            0         0          0
               9.750                    1            0         0          0
               20.120                   1            0         0          0
               29.870                   1            0         0          0
               39.620                   1            0         0          0
               48.460                   1            0         0          0
...                                   ...          ...       ...        ...
1993 April     19.810                   1            0         0          0
               20.120                   1            0         0          0
               29.870                   2            0         0          0
               40.230                   2            0         0          0
               51.210                   2            0         0          0
               60.350                   2            0         0          0
1996 August    0.893                    1            1         1          1
               61.559                   1            1         1          1
1997 April     61.000                   2            2         2          2
1998 April     1.500                    1            1         1          1
               29.900                   1            1         1          1
               60.300                   1            1         1          1
1999 August    2.600                    1            1         1          1
               60.700                   1            1         1          1
2000 April     60.000                   1            1         1          1
     August    1.048                    2            2         2          2
               60.095                   2            2         2          2
2001 April     60.300                   1            1         1          1
     August    57.600                   1            1         1          1
2002 April     58.000                   1            1         1          1
     August    1.000                    1            1         1          1
2003 April     60.800                   1            1         1          1
               61.000                   1            1         1          1
     August    1.000                    1            1         1          1
2004 August    2.000                    1            1         1          1
2005 April     58.100                   1            1         1          1
     August    3.000                    1            1         1          1
2007 August    52.000                   1            1         1          1
2012 April     61.700                   1            1         1          1
     August    52.200                   1            1         1          1

                               SAMPLING_DATE     ...       METHOD_3  \
YEAR MONTH     SAMPLE_DEPTH_M                    ...
1983 April     4.270                       2     ...              0
               18.900                      1     ...              0
               19.200                      1     ...              0
               39.930                      1     ...              0
               48.770                      1     ...              0
               56.390                      1     ...              0
               57.610                      1     ...              0
     August    0.910                       3     ...              0
               4.570                       2     ...              0
               4.880                       1     ...              0
               10.060                      3     ...              0
               17.370                      1     ...              0
               20.120                      1     ...              0
               22.250                      1     ...              0
               29.260                      1     ...              0
               29.870                      1     ...              0
               39.620                      1     ...              0
               39.930                      1     ...              0
               40.230                      1     ...              0
               49.680                      1     ...              0
               51.210                      1     ...              0
               57.000                      1     ...              0
               58.220                      2     ...              0
     May       0.910                       1     ...              0
               4.880                       1     ...              0
               9.750                       1     ...              0
               20.120                      1     ...              0
               29.870                      1     ...              0
               39.620                      1     ...              0
               48.460                      1     ...              0
...                                      ...     ...            ...
1993 April     19.810                      1     ...              0
               20.120                      1     ...              0
               29.870                      2     ...              0
               40.230                      2     ...              0
               51.210                      2     ...              0
               60.350                      2     ...              0
1996 August    0.893                       1     ...              0
               61.559                      1     ...              0
1997 April     61.000                      2     ...              0
1998 April     1.500                       1     ...              0
               29.900                      1     ...              0
               60.300                      1     ...              0
1999 August    2.600                       1     ...              0
               60.700                      1     ...              0
2000 April     60.000                      1     ...              0
     August    1.048                       2     ...              0
               60.095                      2     ...              0
2001 April     60.300                      1     ...              0
     August    57.600                      1     ...              0
2002 April     58.000                      1     ...              0
     August    1.000                       1     ...              0
2003 April     60.800                      1     ...              0
               61.000                      1     ...              0
     August    1.000                       1     ...              0
2004 August    2.000                       1     ...              0
2005 April     58.100                      1     ...              0
     August    3.000                       1     ...              0
2007 August    52.000                      1     ...              0
2012 April     61.700                      1     ...              0
     August    52.200                      1     ...              0

                               RESULT_REMARK_3  ANL_CODE_4  ANALYTE_4  \
YEAR MONTH     SAMPLE_DEPTH_M
1983 April     4.270                         0           0          0
               18.900                        0           0          0
               19.200                        0           0          0
               39.930                        0           0          0
               48.770                        0           0          0
               56.390                        0           0          0
               57.610                        0           0          0
     August    0.910                         0           0          0
               4.570                         0           0          0
               4.880                         0           0          0
               10.060                        0           0          0
               17.370                        0           0          0
               20.120                        0           0          0
               22.250                        0           0          0
               29.260                        0           0          0
               29.870                        0           0          0
               39.620                        0           0          0
               39.930                        0           0          0
               40.230                        0           0          0
               49.680                        0           0          0
               51.210                        0           0          0
               57.000                        0           0          0
               58.220                        0           0          0
     May       0.910                         0           0          0
               4.880                         0           0          0
               9.750                         0           0          0
               20.120                        0           0          0
               29.870                        0           0          0
               39.620                        0           0          0
               48.460                        0           0          0
...                                        ...         ...        ...
1993 April     19.810                        0           0          0
               20.120                        0           0          0
               29.870                        0           0          0
               40.230                        0           0          0
               51.210                        0           0          0
               60.350                        0           0          0
1996 August    0.893                         0           0          0
               61.559                        0           0          0
1997 April     61.000                        0           0          0
1998 April     1.500                         0           0          0
               29.900                        0           0          0
               60.300                        0           0          0
1999 August    2.600                         0           0          0
               60.700                        0           0          0
2000 April     60.000                        0           0          0
     August    1.048                         0           0          0
               60.095                        0           0          0
2001 April     60.300                        0           0          0
     August    57.600                        0           0          0
2002 April     58.000                        0           0          0
     August    1.000                         0           0          0
2003 April     60.800                        0           0          0
               61.000                        0           0          0
     August    1.000                         0           0          0
2004 August    2.000                         0           0          0
2005 April     58.100                        0           0          0
     August    3.000                         0           0          0
2007 August    52.000                        0           0          0
2012 April     61.700                        0           0          0
     August    52.200                        0           0          0

                               VALUE_4  UNITS_4  FRACTION_4  METHOD_4  \
YEAR MONTH     SAMPLE_DEPTH_M
1983 April     4.270                 0        0           0         0
               18.900                0        0           0         0
               19.200                0        0           0         0
               39.930                0        0           0         0
               48.770                0        0           0         0
               56.390                0        0           0         0
               57.610                0        0           0         0
     August    0.910                 0        0           0         0
               4.570                 0        0           0         0
               4.880                 0        0           0         0
               10.060                0        0           0         0
               17.370                0        0           0         0
               20.120                0        0           0         0
               22.250                0        0           0         0
               29.260                0        0           0         0
               29.870                0        0           0         0
               39.620                0        0           0         0
               39.930                0        0           0         0
               40.230                0        0           0         0
               49.680                0        0           0         0
               51.210                0        0           0         0
               57.000                0        0           0         0
               58.220                0        0           0         0
     May       0.910                 0        0           0         0
               4.880                 0        0           0         0
               9.750                 0        0           0         0
               20.120                0        0           0         0
               29.870                0        0           0         0
               39.620                0        0           0         0
               48.460                0        0           0         0

In [27]:
df2=df[pd.to_numeric(df['SAMPLE_DEPTH_M'], errors='coerce').notnull()]
df2=df2[pd.to_numeric(df2['VALUE_1'], errors='coerce').notnull()]
df2['SAMPLE_DEPTH_M']=df2[['SAMPLE_DEPTH_M']].apply(pd.to_numeric)
df2['SAMPLE_DEPTH_M']=df2[['SAMPLE_DEPTH_M']]*-1
df2['VALUE_1']=df2[['VALUE_1']].apply(pd.to_numeric)

In [9]:
a = df2[df2['STATION_ID']=='ER15M']['SAMPLING_DATE'].unique()

In [10]:
np.sort(a)

array(['1983/04/26 02:10', '1983/04/27 08:15', '1983/05/09 23:18',
       '1983/08/07 21:55', '1983/08/09 04:17', '1983/08/23 01:35',
       '1983/10/21 15:00', '1983/10/21 22:30', '1984/04/18 22:00',
       '1984/04/20 04:35', '1984/05/01 23:32', '1984/08/06 19:04',
       '1984/08/08 01:20', '1984/08/20 14:45', '1984/12/05 13:12',
       '1984/12/05 23:35', '1985/04/26 03:54', '1985/04/27 11:55',
       '1985/08/08 04:40', '1985/08/13 01:05', '1985/11/22 21:10',
       '1985/11/23 19:50', '1986/04/19 08:20', '1986/04/26 10:55',
       '1986/08/07 23:20', '1986/08/14 10:40', '1987/04/03 21:25',
       '1987/04/06 02:55', '1987/04/19 16:55', '1987/08/01 13:45',
       '1987/08/16 11:35', '1988/04/09 21:20', '1988/04/16 02:05',
       '1988/08/12 19:10', '1988/08/18 13:45', '1989/08/14 16:30',
       '1989/08/20 01:55', '1990/04/12 01:13', '1990/04/18 15:05',
       '1990/08/10 04:25', '1990/08/16 01:34', '1991/04/07 01:40',
       '1991/04/14 10:42', '1991/08/09 13:00', '1991/08/15 07:00',
       '1992/04/03 20:00', '1992/04/09 11:15', '1993/04/11 07:25',
       '1993/04/16 16:05', '1996/08/05 04:40', '1997/04/12 23:10',
       '1998/04/09 07:20', '1999/08/06 09:35', '2000/04/16 19:32',
       '2000/08/04 17:39', '2000/08/04 17:44', '2001/04/15 09:36',
       '2001/08/05 07:30', '2002/04/08 12:26', '2002/08/07 18:32',
       '2003/04/15 07:43', '2003/04/18 23:46', '2003/08/09 04:07',
       '2004/08/07 03:30', '2005/04/12 01:30', '2005/08/11 04:45',
       '2007/08/09 05:40', '2012/04/09 02:55', '2012/08/11 04:45'],
      dtype=object)

In [125]:
df2[(df2['STATION_ID']=='ER15M') & ((df2['MONTH']=='April') | (df2['MONTH']=='August'))].groupby(['YEAR', 'MONTH', 'SAMPLE_DEPTH_M']).mean()['VALUE_1']

Series([], Name: VALUE_1, dtype: float64)

In [23]:
df2[((df2['STATION_ID']=='ER15M') | (df2['STATION_ID']=='ER63') | (df2['STATION_ID']=='ER09') | (df2['STATION_ID']=='ER10') | (df2['STATION_ID']=='ER93B')) & ((df2['MONTH']=='April    ') | (df2['MONTH']=='August   '))].groupby(['YEAR', 'MONTH', 'SAMPLE_DEPTH_M']).mean()['VALUE_1'].unstack(level=0).unstack(level=0).to_csv('ox_all_ee_glenda.csv')

In [29]:
df2[(df2['STATION_ID']=='ER15M') | (df2['STATION_ID']=='ER63') | (df2['STATION_ID']=='ER09') | (df2['STATION_ID']=='ER10') | (df2['STATION_ID']=='ER93B')].groupby(['YEAR','MONTH', 'SAMPLE_DEPTH_M']).mean()['VALUE_1'].unstack(level=0).unstack(level=0).dropna(axis=1,how='all').to_csv('glenda_oxygen_ee.csv')

In [13]:
df2.columns

Index(['Row', 'YEAR', 'MONTH', 'SEASON', 'LAKE', 'CRUISE_ID', 'VISIT_ID',
       'STATION_ID', 'STN_DEPTH_M', 'LATITUDE', 'LONGITUDE', 'SAMPLING_DATE',
       'TIME_ZONE', 'SAMPLE_DEPTH_M', 'DEPTH_CODE', 'MEDIUM', 'SAMPLE_TYPE',
       'QC_TYPE', 'SAMPLE_ID', 'ANL_CODE_1', 'ANALYTE_1', 'VALUE_1', 'UNITS_1',
       'FRACTION_1', 'METHOD_1', 'RESULT_REMARK_1', 'ANL_CODE_2', 'ANALYTE_2',
       'VALUE_2', 'UNITS_2', 'FRACTION_2', 'METHOD_2', 'RESULT_REMARK_2',
       'ANL_CODE_3', 'ANALYTE_3', 'VALUE_3', 'UNITS_3', 'FRACTION_3',
       'METHOD_3', 'RESULT_REMARK_3', 'ANL_CODE_4', 'ANALYTE_4', 'VALUE_4',
       'UNITS_4', 'FRACTION_4', 'METHOD_4', 'RESULT_REMARK_4', 'Unnamed: 47'],
      dtype='object')