In [1]:
import pandas as pd

In [2]:
glni = pd.read_excel('../../measurements/GLNI/Canadian_Tributaries_concentrations_Serghei.xlsx', sheet_name='Data_GLNI_Erie tribs')

In [4]:
glni.columns

Index(['ProjectCode', 'SiteCode', 'SiteName', 'Latitude', 'Longitude',
       'IDCODE', 'SampleName(UserCode)', 'SampleAlias(UserCode2)',
       'SampleDateTime', 'SampleDateTimeEnd', 'SampleQaTypeCode', 'VMVCode',
       'VariableCommonName', 'VariableScientificName', 'Flag', 'Value',
       'SampleDetectionLimit', 'MethodDetectionLimit',
       'VMVMethodDetectionLimit', 'Unit', 'SampleQaTypeDesc',
       'SampleMatrixCode', 'SampleMatrixDesc', 'LabSampleCode', 'LabCode',
       'LabName', 'VariableTypeId', 'VariableType', 'ValidationLevels_id',
       'ValidationLevel', 'Validity', 'Qualifiers', 'DRC_DataReleasesCode',
       'DRC_QATypeCode', 'RDC_DateRgCode', 'DRC_SiteCode',
       'DRC_ValidationLevelCode', 'DRC_ValidityCode', 'DRC_VMVCode',
       'DRC_QualCode', 'SampleComment', 'MeasComment', 'PearseDACODE',
       'PearseDA', 'Measurements_id'],
      dtype='object')

In [22]:
df['VariableCommonName'].unique()

array(['Nitrogen total', 'Chlorophyll corrected', 'Chlorophyll A',
       'Specific conductance', 'Carbon dissolved organic',
       'Carbon particulate organic', 'Nitrogen Kjeldahl total',
       'Nitrogen particulate', 'SiO2', 'Phosphorus total',
       'Phosphorus total filtered', 'Carbon dissolved inorganic',
       'Phosphorus soluble reactive', 'Nitrite and nitrate filtered',
       'Ammonia filtered',
       'Total suspended solids (non-filterable residue)',
       'Chloride dissolved', 'Phosphorus particulate', 'Turbidity',
       'Nitrogen total dissolved', 'Phosphorus total dissolved',
       'Silica soluble reactive'], dtype=object)

In [33]:
df = glni[glni['SiteName'] == 'Big Creek near Walsingham']

elem = 'Phosphorus total'
TP = df[df['VariableCommonName'] == elem][['SampleDateTime','Value', 'Unit']]

elem = 'Nitrogen total'
TN = df[df['VariableCommonName'] == elem][['SampleDateTime','Value', 'Unit']]
TN

elem = 'Nitrogen Kjeldahl total'
NK = df[df['VariableCommonName'] == elem][['SampleDateTime','Value', 'Unit']]
NK

elem = 'Nitrite and nitrate filtered'
NO32 = df[df['VariableCommonName'] == elem][['SampleDateTime','Value', 'Unit']]
NO32

elem = 'Ammonia filtered'
NH4 = df[df['VariableCommonName'] == elem][['SampleDateTime','Value', 'Unit']]
NH4

           SampleDateTime  Value  Unit
122   2011-11-16 12:00:00  0.005  mg/L
179   2011-11-16 12:00:00  0.005  mg/L
282   2011-11-28 12:00:00  0.019  mg/L
402   2011-11-28 12:00:00  0.018  mg/L
562   2011-11-30 12:00:00  0.030  mg/L
682   2011-11-30 12:00:00  0.029  mg/L
802   2011-12-05 12:00:00  0.032  mg/L
922   2011-12-05 12:00:00  0.032  mg/L
1041  2011-12-12 12:00:00  0.051  mg/L
1155  2011-12-12 12:00:00  0.047  mg/L
1307  2011-12-19 12:00:00  0.040  mg/L
1417  2012-01-09 12:00:00  0.035  mg/L
1553  2012-01-16 12:00:00  0.042  mg/L
1764  2012-01-23 12:00:00  0.044  mg/L
1924  2012-01-31 12:00:00  0.032  mg/L
2084  2012-02-06 12:00:00  0.030  mg/L
2253  2012-02-06 12:00:00  0.024  mg/L
2424  2012-02-13 12:00:00  0.047  mg/L
2595  2012-02-21 12:00:00  0.030  mg/L
2762  2012-02-28 12:00:00  0.022  mg/L
2932  2012-03-05 12:00:00  0.031  mg/L
3110  2012-03-12 12:00:00  0.010  mg/L
3275  2012-03-12 12:00:00  0.011  mg/L
3426  2012-03-20 12:00:00  0.023  mg/L
3646  2012-03-27 12:00:00  0.019  mg/L
3687  2012-03-27 12:00:00  0.005  mg/L
3852  2012-04-03 12:00:00  0.028  mg/L
4056  2012-04-10 12:00:00  0.022  mg/L
4147  2012-04-10 12:00:00  0.005  mg/L
4207  2012-04-10 12:00:00  0.005  mg/L
...                   ...    ...   ...
7086  2012-10-15 12:15:00  0.005  mg/L
7320  2012-10-23 12:00:00  0.009  mg/L
7552  2012-10-29 12:20:00  0.034  mg/L
7731  2012-11-06 11:45:00  0.032  mg/L
7890  2012-11-13 12:15:00  0.035  mg/L
8005  2012-11-19 12:15:00  0.032  mg/L
8173  2012-11-27 12:15:00  0.034  mg/L
8288  2012-12-03 12:45:00  0.024  mg/L
8467  2012-12-10 12:00:00  0.026  mg/L
8487  2012-12-10 12:00:00  0.005  mg/L
8518  2012-12-10 12:00:00  0.005  mg/L
8537  2012-12-10 12:00:00  0.026  mg/L
8699  2013-01-14 11:35:00  0.048  mg/L
8913  2013-01-30 12:40:00  0.123  mg/L
9093  2013-02-12 12:00:00  0.089  mg/L
9280  2013-02-27 12:00:00  0.005  mg/L
9310  2013-02-27 12:00:00  0.005  mg/L
9418  2013-02-28 10:20:00  0.061  mg/L
9436  2013-02-28 10:20:00  0.062  mg/L
9494  2013-03-11 12:33:00  0.074  mg/L
9625  2013-03-12 12:48:00  0.064  mg/L
9783  2013-04-10 11:15:00  0.097  mg/L
9968  2013-04-24 12:00:00  0.005  mg/L
9998  2013-04-24 12:00:00  0.005  mg/L
10020 2013-04-24 12:10:00  0.020  mg/L
10037 2013-04-24 12:10:00  0.020  mg/L
10431 2013-08-06 12:00:00  0.005  mg/L
12107 2014-02-17 12:00:00  0.005  mg/L
13078 2014-04-01 12:00:00  0.005  mg/L
13410 2014-04-08 12:00:00  0.005  mg/L

[77 rows x 3 columns]